name: Build runner Docker Image (Bake)

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag'
        required: false
        type: string

permissions:
  contents: read
  packages: write

env:
  GHCR_REGISTRY: ghcr.io
  GHCR_REPO: ${{ github.repository }}
  VERSION: ${{ inputs.version }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push with Bake
        uses: docker/bake-action@v6
        with:
          source: .
          files: terraform_runner/bake.hcl
          push: false
          set: |
            runner-terraform.tags=${{ env.GHCR_REGISTRY }}/${{ env.GHCR_REPO }}/runner:${{ env.VERSION }}-terraform
            runner-tofu.tags=${{ env.GHCR_REGISTRY }}/${{ env.GHCR_REPO }}/runner:${{ env.VERSION }}-tofu

