name: Main workflow

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Whether this is a release build"
        required: false
        type: boolean
        default: false
  pull_request:
  push:
    branches:
      - main

jobs:
  calculate-version:
    uses: ./.github/workflows/calculate-version.yml
    with:
      release: ${{ inputs.release || false }}
    secrets: inherit

  build:
    needs: calculate-version
    uses: ./.github/workflows/bin.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit

  docker:
    needs: [build, calculate-version]
    uses: ./.github/workflows/docker.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit

  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  python-wheels:
    needs: calculate-version
    uses: ./.github/workflows/wheels.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit

  release:
    needs: [build, docker, python-wheels, calculate-version]
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    uses: ./.github/workflows/release.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
      dry_run: ${{ !(inputs.release || false) }}
    secrets: inherit
