name: Python Wheels for Linux

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Build python ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-x86_64
            os: ubuntu-latest
            arch: x86_64
            python-arch: x64
            cibw-build: cp311-manylinux_x86_64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Free up disk space
        uses: ./.github/actions/free-disk-space

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Rust Cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          shared-key: "dependencies"

      - name: Build all targets, all features
        run: |
          cargo build --profile dev --features with_py --package infraweave_py
        env:
          CARGO_LOG: "cargo::core::compiler::fingerprint=debug"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
          architecture: ${{ matrix.python-arch }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install maturin cibuildwheel

      - name: Check Maturin Version
        run: maturin --version

      - name: Build Wheels
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_BUILD: ${{ matrix.cibw-build }}
          CIBW_ENVIRONMENT: >-
            PATH=/host/home/runner/.cargo/bin:/host/home/runner/.rustup/bin:$PATH
            CARGO_HOME=/host/home/runner/.cargo
            RUSTUP_HOME=/host/home/runner/.rustup
            CARGO_TARGET_DIR=/host${{ github.workspace }}/target
            CARGO_LOG=cargo::core::compiler::fingerprint=debug
          CIBW_BEFORE_BUILD_LINUX: >-
            yum install -y perl-core
        run: |
          cibuildwheel infraweave_py --output-dir dist

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}-wheels
          path: dist/*.whl